.gps-container {
  text-align: center;
  margin-top: 40px;
}

.gps-box {
  width: 80%;
  margin: auto;
}

.gps-data,
.gps-off {
  background-color: #ff2b0a63;
  padding: 40px;
  border-radius: 12px;
  color: #ffffff;
  box-shadow: 0 0 15px rgba(210, 101, 54, 0.4);
}

.gps-data h2 {
  margin-bottom: 10px;
  color: #ffd000;
}

.gps-data p {
  font-size: 18px;
  margin: 6px 0;
}

.gps-toggle-btn {
  margin-top: 25px;
  padding: 12px 20px;
  background-color: #ffd000;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.gps-toggle-btn:hover {
  background-color: #ffd00080;
}
