.home {
  text-align: center;
  margin-top: 40px;
  color: #ffffff;
}

/* Title */
.home h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #ff2b0ad8;
  margin-bottom: 15px;

  text-shadow: 0 0 30px #ffd60ac4, 0 0 10px #ff680ac4, 0 0 5px #ffd60ac4;
  animation: pulseGlow 2.2s ease-in-out infinite;
}
@keyframes pulseGlow {
  0% {
    transform: scale(1);
    text-shadow: 0 0 10px #ff950ac4, 0 0 20px #ff6c0ae9;
  }
  50% {
    transform: scale(1.05);
    text-shadow: 0 0 20px #ffc60ac4, 0 0 40px #ff680ac4;
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 10px #ff840ac4, 0 0 20px #ff6c0ae9;
  }
}


/* Subtitle description */
.home p {
  max-width: 600px;
  margin: 0 auto 20px auto;
  font-size: 1.1rem;
  color: #fff9c7;
}

.home span {
  color: #ffd000;
  font-weight: bold;
}

/* Cards container */
.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 0 20px;
}

/* Individual feature block */
.card {
  background-color: #ffc400c0;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(210, 101, 54, 0.477);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px) scale(1.07);
  background-color: #ffd000d8;
  box-shadow: 
      0 0 15px #ff2b0a70,
      0 0 25px #ffd00080,
      0 8px 18px rgba(0, 0, 0, 0.4);
}

/* Card heading */
.card h2 {
  color: #ff2b0aa1;
  margin-bottom: 10px;
  font-size: 1.3rem;
}
