.navbar {
  background-color: #ffd000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  color: #ff2b0a;
  font-weight: bold;
}

.nav-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff2b0a;
}

@media (max-width: 600px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}